<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <shkeeper>
                <active>1</active>
                <model>Shkeeper\Gateway\Model\Shkeeper</model>
                <title>SHKeeper Gateway</title>
                <instructions>Pay with cryptocurrency. Select a currency and send the exact amount to the displayed address to complete your order.</instructions>
                <order_status>pending_payment</order_status>
                <overpayment_margin>0</overpayment_margin>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>0</sort_order>
                <payment_action>authorize,capture</payment_action>
            </shkeeper>
        </payment>
    </default>
</config>
